{% extends "base.html" %}
{% load static %}
{% block content%}



<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">About Us</h1>  
    </div>
</div>
<!-- Header End -->


<!-- About Start -->
<div class="container-fluid about bg-light py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="about-img pb-5 ps-5">
                    <img src="{% static 'img/images/logo.png' %}" class="img-fluid rounded w-100" style="object-fit: cover;" alt="Image">
                    <!--<div class="about-experience">10 years experience</div>-->
                </div>
            </div>
            <div class="col-lg-7 wow fadeInRight" data-wow-delay="0.4s">
                <div class="section-title text-start mb-5">
                    <h1 class="display-3 mb-4">Your Wellness</h1>
                    <p class="mb-4">Ce-Cy Pharm Limited Pharmaceuticals is a licensed Pharmaceutical importer and distributor based in 
                        Lagos. We specialize in procuring high-quality medical devices and consumer health 
                        products — from catheters and surgical disposables to advanced wound care and skin-adhesive solutions.
                    </p>
                    <p class="mb-4"> Our team combines regulatory, clinical and supply-chain expertise to 
                        ensure safe, timely and compliant delivery of products to hospitals, clinics, 
                        Pharmacies and healthcare programmes across Nigeria.
                    </p>               
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Feature Start -->
<div class="container-fluid feature py-5">
    <div class="container py-5">
        <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
            
            <h1 class="display-3 mb-4">Vision. Mission.</h1>
            <p class="mb-0">Ce-Cy Pharm Limited, we combine expertise, integrity, and compassion.</p>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row-cols-1 feature-item p-4">
                    <div class="col-12">
                            <div class="feature-content d-flex flex-column">
                            <h5 class="mb-4">Our Vision</h5>
                            <p class="mb-0">To be a leading, trusted supplier of safe and innovative medical devices and pharmaceutical products in West Africa — improving patient outcomes through quality, compliance and care.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row-cols-1 feature-item p-4">
                    <div class="col-12">
                        <div class="feature-content d-flex flex-column">
                            <h4 class="mb-4">Our Mission</h4>
                            <p class="mb-0">To partner with healthcare providers to enhance access to essential medical consumables and wound care solution.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="row-cols-1 feature-item p-4">
                    <div class="col-12">
                        <div class="feature-content d-flex flex-column">
                            <h5 class="mb-4">Core Values</h5>
                            <p class="mb-0">We uphold the highest ethical standards in all our interactions and services, guided by integrity, compassion, and a deep sense of responsibility toward every life we touch.</p>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>
<!-- Feature End -->

<!-- Team Start -->
<div class="container-fluid team py-5">
    <div class="container py-5">
        <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="display-3 mb-4">Professional Team</h1>
            <p class="mb-0">At Ce-Cy Pharm Limited, our team of experienced Pharmacists is committed to delivering safe, accurate, and personalized Pharmaceutical care.</p>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded">
                    <div class="team-img rounded-top h-100">
                        <img src="{% static 'img/logo.png'%}" class="img-fluid rounded-top w-100" alt="">
                        <div class="team-icon d-flex justify-content-center">
                            <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="team-content text-center border border-primary border-top-0 rounded-bottom p-4">
                        <h5>Full Name</h5>
                        <p class="mb-0">Message Therapist</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item rounded">
                    <div class="team-img rounded-top h-100">
                        <img src="{% static 'img/logo.png'%}" class="img-fluid rounded-top w-100" alt="">
                        <div class="team-icon d-flex justify-content-center">
                            <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="team-content text-center border border-primary border-top-0 rounded-bottom p-4">
                        <h5>Full Name</h5>
                        <p class="mb-0">Therapist</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item rounded">
                    <div class="team-img rounded-top h-100">
                        <img src="{% static 'img/logo.png'%}" class="img-fluid rounded-top w-100" alt="">
                        <div class="team-icon d-flex justify-content-center">
                            <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="team-content text-center border border-primary border-top-0 rounded-bottom p-4">
                        <h5>Full Name</h5>
                        <p class="mb-0">Doctor</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item rounded">
                    <div class="team-img rounded-top h-100">
                        <img src="{% static 'img/logo.png'%}" class="img-fluid rounded-top w-100" alt="">
                        <div class="team-icon d-flex justify-content-center">
                            <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="team-content text-center border border-primary border-top-0 rounded-bottom p-4">
                        <h5>Full Name</h5>
                        <p class="mb-0">Pharmacist</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br><br>
<!-- Team End -->


{% endblock %}