{% extends "base.html" %}
{% load static %}
{% block content%}



        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">About Us</h1>  
            </div>
        </div>
        <!-- Header End -->


        <!-- About Start -->
        <div class="container-fluid about bg-light py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="about-img pb-5 ps-5">
                            <img src="{% static 'img/cecy.jpg' %}" class="img-fluid rounded w-100" style="object-fit: cover;" alt="Image">
                            <div class="about-experience">15 years experience</div>
                        </div>
                    </div>
                    <div class="col-lg-7 wow fadeInRight" data-wow-delay="0.4s">
                        <div class="section-title text-start mb-5">
                            <h1 class="display-3 mb-4">We Are Ready to Help You Achieve Optimum Health and Vitality.</h1>
                            <p class="mb-4">  Ce-cypharm Limited is Nigeria’s first integrative pharmacy, and one of the fastest-growing health service providers in West Africa.  
                                                We are committed to helping individuals achieve optimum health and vitality while delivering superior value to our customers, partners, and communities.</p>
                            <div class="mb-4">
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Innovation.</p>
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Accountability.</p>
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Customer-Centricity.</p>
                            </div>
                            <a href="#" class="btn btn-primary rounded-pill text-white py-3 px-5">Discover More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Feature Start -->
        <div class="container-fluid feature py-5">
            <div class="container py-5">
                <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                  
                    <h1 class="display-3 mb-4">Why Choose Us? Trust. Care. Healing</h1>
                    <p class="mb-0">At Ce-cypharm, we combine expertise, integrity, and compassion to deliver quality healthcare you can trust.</p>
                </div>
                <div class="row g-4 justify-content-center">
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="row-cols-1 feature-item p-4">
                            <div class="col-12">
                                <div class="feature-content d-flex flex-column">
                                    <h4 class="mb-4">Our Mission</h4>
                                    <p class="mb-0">To empower individuals to achieve optimum health and vitality through accessible, professional, and integrative pharmacy care — delivering superior value to our customers.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="row-cols-1 feature-item p-4">
                            <div class="col-12">
                                <div class="feature-content d-flex flex-column">
                                    <h5 class="mb-4">Our Vision</h5>
                                    <p class="mb-0">To be Nigeria’s leading and most trusted integrative pharmacy, setting the standard for innovation, quality, and holistic healthcare solutions across West Africa.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="row-cols-1 feature-item p-4">
                            <div class="col-12">
                                <div class="feature-content d-flex flex-column">
                                    <h5 class="mb-4">Core Values</h5>
                                    <p class="mb-0">We uphold the highest ethical standards in all our interactions and services, guided by integrity, compassion, and a deep sense of responsibility toward every life we touch.</p>
                                </div>
                            </div>
                        </div>
                    </div>
              
                </div>
            </div>
        </div>
        <!-- Feature End -->


 {% endblock %}