{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
  <div class="container text-center py-5" style="max-width: 900px;">
    <h3 class="text-white display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">Our Retail Pharmacy</h3>
  </div>
</div>
<!-- Header End -->
  <div class="row g-4 justify-content-center">

        <!-- Start -->
        <div class="container-fluid about bg-light py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="about-img pb-5 ps-5">
                            <img src="{% static 'img/images/logo.png' %}" class="img-fluid rounded w-100" style="object-fit: cover;" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-7 wow fadeInRight" data-wow-delay="0.4s">
                        <div class="section-title text-start mb-5">
                            <h1 class="display-3 mb-4">Retail Pharmacy.</h1>
                            <p class="mb-4"> Ce-Cy Pharmacy — Community dispensing and patient care. We provide the following services.</p>
                            <div class="mb-4">
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Prescription dispensing.</p>
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Basic point-of-care checks (BP monitoring).</p>
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> OTC medicines</p>
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Adherence counselling and</p>
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> OTC medicines</p>
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Product referrals to healthcare facilities.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End -->



{% endblock %}